ProjectorNorm/.vs/ProjectorNorm/v15/ipch/AutoPCH/a8bed7306349635/MAIN.ipch
ProjectorNorm/.vs/ProjectorNorm/v15/Browse.VC.opendb
ProjectorNorm/.vs/ProjectorNorm/v15/ipch/AutoPCH/49995a9b26e26407/VECTOR.ipch
ProjectorNorm/ProjectorNorm/Debug/
ProjectorNorm/ProjectorNorm/ProjectorNorm.vcxproj.filters
ProjectorNorm/ProjectorNorm/ProjectorNorm.vcxproj
ProjectorNorm/Debug/ProjectorNorm.pdb
ProjectorNorm/Debug/ProjectorNorm.ilk
ProjectorNorm/.vs/ProjectorNorm/v15/Browse.VC.db
ProjectorNorm/.vs/ProjectorNorm/v15/.suo
*.ipch
